:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #262623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  /* font-size: 1.6rem; */
  background-color: var(--off-white);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #f7931a,
    #b27d18,
    #78621f,
    #4a4423,
    #262623
  );
}

header > img {
  width: 150px;
  height: 24px;
}

.header__title-container {
  width: 90%;
  height: 218px;
  min-width: 288px;
  max-width: 900px;
  margin-top: 40px;
}
